<#import "../layout/defaultLayout.ftl.html" as layout>


<@layout.myLayout "Battleship">

<div class="game_container">
  <div class="title">Battleship</div>

  <div class="game_holder">
    <div class="grid_holder">
      <div class="enemy_title">
        Attack Enemy
      </div>
      <table id="opponent" class="battleGrid"></table>
    </div>

    <div class="grid_holder">
      <div class="you_title">
        Your Ships
      </div>
      <table id="player" class="battleGrid"></table>
    </div>

    <div class="game_bottom">

      <div class="game_info">
        <img src="/assets/images/attack_key.png" width="60%">
      </div>

      <div class="game_buttons">
        <button type="button" class="btn btn-outline-dark btn_col" id="place_minesweeper">Place Minesweeper</button>
        <button type="button" class="btn btn-outline-dark btn_col" id="place_destroyer">Place Destroyer</button>
        <button type="button" class="btn btn-outline-dark btn_col" id="place_battleship">Place Battleship</button>
        <button type="button" class="btn btn-outline-dark btn_col" id="sonar_button">Use Sonar</button>
        <input type="checkbox" name="checkboxG1" class="btn_col css-checkbox" id="is_vertical"/><label for="is_vertical" class="css-label">VERTICAL</label>
      </div>

    </div>

    <button type="button" class="btn btn-danger" id="restart_game"><i class="fas fa-redo"></i>RESTART GAME</button>

  </div>
</div>

  <div class="start_page fullscreen">
    <div class="start_title">
        BATTLESHIP
    </div>

    <button class="start_game_button">Start</button>
</div>

<script type="text/javascript" src="/assets/game.js"></script>

<script>
  initGame();
</script>

</@layout.myLayout>
